

.about-section{
    padding: 4em 1em 2em;
    background: #f2f2f2f2;
}

.about-head > p{
    font-family: var(--fontnarrow);
    color: #898989;
    font-weight: bold;
}

.about-head > h1{
    font-size: 27px;
    font-family: var(--fontblack);
    color: var(--fontcolor);
    text-transform: uppercase;
}

.about-desc{
    padding-top: 3em;
}

.about-desc > p {
    font-family: var(--fontnarrow);
    color: var(--fontcolor);
}

.about-function{
    margin-top: 2.7em;
}

.functonalities{
    font-family: var(--fontnarrow);
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.functonalities > p{
    margin-left: 10px;
    font-size: 14px;
    color: var(--fontcolor);
}


@media screen and (min-width: 845px){

    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .left-about{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .left-about > .about-img{
        background: url(/public/images/img-8.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 500px;
        
    }

    .right-content{
        margin: 1em;
    }
}