
div.card-container{
    padding: 0 2em;
    margin-bottom: 4em;
}

div.card-wrapper{
    margin-top: 3em;
}

li{
    list-style: none;
}

.card-item-link{
    text-decoration: none;
}



figure.card-item-pic > img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}


div.card-text-wrapper > h1{
    padding: .7em;
    text-align: center;
    color: var(--fontcolor);
    font-size: 20px;
    font-family: var(--fontblack);
}

div.card-text-wrapper > p{
    /* padding: 1.4em 1em 2em 0; */
    padding: .7em;
    padding-bottom: 2em;
    margin: 0 auto;
    text-align: center;
    color: var(--fontcolor);
    font-size: 16px;
    font-family: var(--fontnarrow);
}

.card-item{
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.349);
    border-radius: 12px;
}



li.card-item{
    margin-bottom: 4em;
    color: var(--fontblack);
}


.data-category{
    background: var(--bgcolor);
    border-radius: 7px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    margin-top: 1.7em;
    right: 3.4em;
    padding: .4em;
    color: var(--fontcolor);
    font-family: var(--fontnarrow);

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.loc-icon{
    margin-right: .4em;
    color: var(--loccolor);
}


@media screen and (min-width: 648px){

  .card-wrapper{
    max-width: 647px;
    margin: 0 auto;
  }

  .card-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    
  }

  .card-item{
    position: relative;
    margin: 1em;
    max-width: 280px;
  }

  .data-category{
    position: absolute;
    display: flex;
    left: 7em;
    width: 140px;
  }
}

@media screen and (min-width: 748){

}

@media screen and (min-width: 923px){
    .card-wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    
    }
    .card-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        
      }

      .card-item{
        width: 260px;
      }

      .data-category{
        left: 7em;
      }
}

@media screen and (min-width: 1200px){

    .card-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
        
      }
}