
div.discover-container{
    padding: 0 1em;
    background: var(--bgcolor);
}


div.head-discover > h1{
    margin-top: 1em;
    color: var(--fontcolor);
    font-family: 'Archivo Black', sans-serif;
    font-size: 32px;
    text-align: left;
}


div.head-discover > p{
    padding-top: 2em;
    color: var(--fontcolor);
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
    text-align: left;
}