
div.discover-container{
    padding: 2em 1em 2em;
    background: var(--bgcolor);
}


div.head-discover > h1{
    margin-top: 1em;
    color: var(--fontcolor);
    font-family: 'Archivo Black', sans-serif;
    font-size: 27px;
    text-align: left;
}


div.head-discover > p{
    padding-top: 2em;
    color: var(--fontcolor);
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
    text-align: left;
}

@media screen and (min-width: 648px){
    .head-discover > p{
        width: 520px;
    }
}

@media screen and (min-width: 785px){
    .discover-container{
        display: flex;
        justify-content: center;
    }

    div.head-discover > p{
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}





@media screen and (min-width: 1200px){

    .discover-container{
        margin: 0 auto;
        width:1200px;
    }

    div.head-discover > h1{
        font-size: 46px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 780px;
    }
    div.head-discover > p{
        display: flex;
        width: 630px;
        font-size: 17px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
}