
footer.footer-section{
    background: var(--bgblack);
    color: var(--bgcolor);
    font-family: var(--fontnarrow);
}

.footer-container{
    padding: 4em 1em;
}

.logo-gg{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.logo-gg > h1{
   font-size: 24px;
   margin-left: 7px;
}

/* COL2 */

.col2-items{
    padding: 3em 0 3em;
}

.col2-item > h1{
    font-size: 24px;
}

.col2-item{
    margin-bottom: 1em;
}

li.col2-item > .item-link{
    list-style: none;
    text-decoration: none;
    color: #f2f2f2f2;
}

/* COL3 */
.col3-item > h1{
    font-size: 24px;
}

.col3-item{
    margin-bottom: 1em;
}

li.col3-item > .item-link{
    list-style: none;
    text-decoration: none;
    color: #f2f2f2f2;
}

/* COL4 */
.col4-items{
    padding: 3em 0 3em;
}

.col4-item > h1{
    font-size: 24px;
}

.col4-item{
    margin-bottom: 1em;
}

.email-form > form{
    display: flex;
}

form.footer-form {
    justify-content: unset;
}

form.footer-form > input.email-field{
    min-width: 224px;
    padding: 1em;
    border-radius: 7px;
    border: none;
    font-family: var(--fontnarrow);
}

.btn-sub{
    cursor: pointer;
    color: var(--bgcolor);
    font-family: var(--fontnarrow);
    background: var(--primary);
    border: none;
    padding: 1em 2em;
    border-radius: 7px;
}

.btn-sub:hover{
    background: #095b91;
    transition: ease-in-out 0.4s;
}


/* Row 2 */
.footer-row2{
    margin-top: 3em;
    border-top: 2px solid var(--linecolor);
    border-radius: 2px;
    padding-top: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.row2-items{
    padding-top: 3em;
    justify-content: center;
}

.social-link{
    color: #ffffff;
    margin: 1em;
}

@media screen and (min-width: 648px){
   form > button.btn-sub{
        margin-left: 16em;
    }
}


@media screen and (min-width: 1200px){

    div.footer-container{
        width: 1200px;
        margin: 0 auto;
    }

    div.footer-row1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    li.col1-item > .logo-gg > h1{
        font-size: 20px;
    }

    li.col1-item > p{
        font-size: 14px;
        width: 220px;
    }

    li.col2-item > h1{
        font-size: 20px;
    }

    li.col2-item > .item-link{
        font-size: 14px;
    }

    li.col3-item > h1{
        font-size: 20px;
    }

    li.col3-item > .item-link{
        font-size: 14px;
    }

    li.col4-item > h1{
        font-size: 20px;
    }


    .col2-items{
        padding: 0;
    }

    .col4-items{
        padding: 0;
    }

    form.footer-form > input.email-field{
       
        font-size: 14px;
        min-width: 200px;

    }

    form.footer-form > button.btn-sub{
        margin-left: 14em;
        font-size: 14px;
    }
    

    .footer-row2{
      display: flex;
      justify-content: space-between;
    }
    
}
