* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  nav.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100px;
    z-index: 999;
    font-family: 'Archivo Black', sans-serif;

  
  }

  div.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 37px;


  }

  .navbar-logo{
    position: absolute;
    padding-left: 1em;
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    z-index: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .menu-icon{
    padding: 0 1em;
    position: absolute;
    color: #ffff;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
  }

  ul.nav-menu{
    top: 80px;
    font-size: 20px;
    /* height: 36vh; */
    position: absolute;
    transition: all 0.5s ease;
    left: -100%;
    width: 100%;

    font-family: 'Archivo Narrow', sans-serif;
  }

  .navbar-icon{
    margin-right: .4em;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
  }

  ul.nav-menu.active{
    background: #000000;
    height: 574px;
    transition: all 0.6s ease;
    z-index: 2;
    left: 0;
    list-style: none;
  }

  .nav-item{
    line-height: 4em;
    justify-self: center;
    text-align: center;
    align-items: center;

  }

  .nav-links{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: .4em auto;
    text-decoration: none;
    color: #ffffff;
  }

  .nav-links:hover{
    background: var(--primary);
    transition: ease-in-out 0.3s;
  }

  div.cta-container{
    font-family: var(--fontnarrow);
  }

  .booknow-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: #ffffff;
    background: #0e7ac4;
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    width: 117px;
  }


  @media screen and (min-width: 1092px){

    nav.navbar{
      background: unset;
      position: absolute;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      align-items: center;
      width: 100%;
    }

    .navbar-logo{
      left: 0;
    }

    .menu-icon{
      
      display: none;
    }

    ul.nav-menu{

      display: flex;
      left: 0;
      top: 9px;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0 1em;
    }

    ul.nav-menu.active{
      background: unset;
      transition: unset;
    }

    li.nav-item{
      padding: 0 1em;
      list-style: none;
    }
    .nav-links{
     
      color: #ffff;
    }
    .nav-links:hover{
      background: none;
    }

    div.cta-container{
      display: flex;
      padding: 0 1em;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .booknow-btn:hover{
      background: #09588d;
      transition: ease-in-out 0.3s;
    }



    /* .booknow-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      color: #ffffff;
      background: #0e7ac4;
      text-decoration: none;
      font-weight: bold;
      height: 60px;
      width: 110px;
    } */


  }


@media screen and (min-width: 1200px){
    .navbar-container.container{
      width: 1200px;
      margin: 0 auto;
      position: relative;
      align-items: center; 
    }

    ul.nav-menu {
      align-items: center;
      display: flex;
      justify-content: center;
      top: 0px;
      bottom: 0px;
      font-size: 16px;
    }


       
}

 


