

.popular-container{
    padding: 1em 1em 1em;
    /* height: 147vh; */
    
}

.head-content > h1{
    font-size: 27px;
    font-family: var(--fontblack);
    color: var(--fontcolor);
    text-align: left;
    text-transform: uppercase;
}

.head-content > p{
    padding-top: 2em;
    font-size: 16px;
    font-family: var(--fontnarrow);
    text-align: left;
    color: var(--fontcolor);
}

/* div.linebreak{
    margin-top: 2em;
    width: 100%;
    background: var(--linecolor);
    height: 2px;
    border-radius: 12px;
} */

/* .popular-item{
    margin: 2em;
} */

.button-wrapper{
    padding-bottom: 4em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-more{
    cursor: pointer;
    border: none;
    border-radius: 32px;
    font-family: var(--fontnarrow);
    font-weight: 500;
    background: var(--primary);
    color: var(--bgcolor);
    padding: 1em 2em;
    font-size: 14px;
}

.btn-more:hover{
    background: #0d639c;
    transition: ease-in-out 0.2s;
}

@media screen and (min-width: 845px){

        .head-content{
            align-items: center;
            display: grid;
            /* grid-template-columns: 300px 1fr; */
            grid-template-columns: 1fr 2fr;
            justify-content: center;
        }

        .head-content > p{
            padding: 0;
            margin-left:  3em;
             width: 490px;
        }

        .location-item{
            display: grid;
            margin: 1em;
            /* grid-template-columns: 280px 1fr; */
            grid-template-columns: 1fr 2fr;
        }

        .head-location{
            padding-top: 2em;
            width: 250px;
            
            align-items: center;
        }

    

       .location-right{
        display: flex;
    
       }

       .desc-location{
        margin: 2em;
        width: 300px;
       }
       figure.map-place{
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 1;
        max-width: 300px;
       }
   
}