

section.popular-section{
    padding: 0 1em;
    height: 100vh;
}

.head-content > h1{
    font-size: 32px;
    font-family: var(--fontblack);
    color: var(--fontcolor);
    text-align: left;
    text-transform: uppercase;
}

.head-content > p{
    padding-top: 2em;
    font-size: 16px;
    font-family: var(--fontnarrow);
    text-align: left;
    color: var(--fontcolor);
}

/* div.linebreak{
    margin-top: 2em;
    width: 100%;
    background: var(--linecolor);
    height: 2px;
    border-radius: 12px;
} */

/* .popular-item{
    margin: 2em;
} */