
.location-wrapper{
    /* border-top: 4px solid var(--linecolor); */
    /* border: 4px solid black; */
    margin-top: 2em;
    /* margin-top: 4em; */
    text-decoration: none;
}

.location-item-container{
    border-top-width: 3px;
    border-top-style: solid;
    border-color: var(--linecolor);
    margin-top: 3em;
    margin-bottom: 3em;
}

.location-item{
    text-decoration: none;
}

.head-location > h1{
    padding-top: 1em;
    font-family: var(--fontblack);
    text-transform: uppercase;
    color: var(--fontcolor);
}

.head-location > p{
    font-size: 15px;
    font-weight: bold;
    font-family: var(--fontnarrow);
    color: var(--fontcolor);
}

.desc-location > p {
    font-size: 16px;
    margin-top: 3em;
    font-family: var(--fontnarrow);
    color: var(--fontcolor);
}

.rating-location{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.stars-review{
    display: flex;
    align-items: center;
}

.rating-location p.rate{
    font-family: var(--fontnarrow);
    font-weight: 200;
    color: var(--fontcolor);
    margin-right: .7em;
}

.rating-location p.visit{
    color: var(--fontcolor);
    font-weight: 200;
    font-family: var(--fontnarrow);
    margin-left: .7em;
 }

 .star-icon{
    color: #FF9529;
    margin-left: 4px;
 }


figure.map-place > img{
    width: 100%;
    border-radius: 12px;
}

