

.popular-container{
    padding: 4em 1em 1em;
    /* height: 147vh; */
    
}

.head-content > h1{
    font-size: 27px;
    font-family: var(--fontblack);
    color: var(--fontcolor);
    text-align: left;
    text-transform: uppercase;
}

.head-content > p{
    padding-top: 2em;
    font-size: 16px;
    font-family: var(--fontnarrow);
    text-align: left;
    color: var(--fontcolor);
}

/* div.linebreak{
    margin-top: 2em;
    width: 100%;
    background: var(--linecolor);
    height: 2px;
    border-radius: 12px;
} */

/* .popular-item{
    margin: 2em;
} */

.button-wrapper{
    padding-bottom: 4em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-more{
    cursor: pointer;
    border: none;
    border-radius: 32px;
    font-family: var(--fontnarrow);
    font-weight: 500;
    background: var(--primary);
    color: var(--bgcolor);
    padding: 1em 2em;
    font-size: 14px;
}

.btn-more:hover{
    background: #0d639c;
    transition: ease-in-out 0.2s;
}