*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary: #0e7ac4;
    --secondary: #F5A623;
    --bgcolor: #ffffff;
    --bggreen: #009B77;
    --bgblack: #141414;
    --linecolor: #d9d9d9d9;
    --fontcolor: #333333;
    --loccolor: #E53935;
    --fontnarrow: 'Archivo Narrow', sans-serif;
    --fontblack: 'Archivo Black', sans-serif;
}
